# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

PSD/**
dist/**
bower_components/**
node_modules/**

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
