header {
  height: 568px;
  background-color: rgb(53, 53, 65);
}

.header-wraper{
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 193px;
  margin: 0 auto;
}

.header-caption{
  display: inline-block;
  padding: 0 2rem;
  border-top: 2px solid #fb6470;
  border-bottom: 2px solid #fb6470;
  margin-bottom: 5px;
}

.header-text{
  margin-bottom: 2.5rem;
  text-align: center;
}

.header-btn{
  background-color:  #fb6470;
  width: 170px;
  height: 3.0625rem;
  border-radius: 3px;
  margin: 0 auto;
  text-align: center;
}

.header-btn span{
  line-height: 3.0625rem;
}