.skill-section{
  color: #fff; 
  display: block;
}

.skill-column__wrapper{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}

.skill-column{
  margin-top: 10px;
  width: 40%;
  display: inline-block;
}

.skill-caption{
  margin-bottom: 18px;
}

.skill-progress{
  width: 75%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 32px;
}

.skill-progress__width{
  height: 5px;
  background-color:  #fb6470;
  width: 0%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  transition: width 1.9s ease-out;
}



.skill-progress__circle{
  position: absolute;
  right: -10px;
  top: -100%;
  width: 18px;
  height: 18px;
  background-color: #e85662;
  border-radius: 50%;
  vertical-align: middle;
}